<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tanay.echo</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Applications/Echo.app/Contents/MacOS/Echo</string>
    <string>--hidden</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <dict>
    <key>Crashed</key>
    <true/>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>

  <key>LowPriorityIO</key>
  <true/>

  <key>Nice</key>
  <integer>5</integer>

  <key>EnvironmentVariables</key>
  <dict>
    <key>ECHO_LAUNCH_AGENT</key>
    <string>1</string>
  </dict>
</dict>
</plist>
